

<div ng-repeat="x in grapes" class="row">
     <div class="col-md-3" > </div>
      <div class="col-md-6 hghlght"  >  <h1> {{x.name}} </h1> </div> 
      <div class="col-md-3" > </div>
</div>


<div ng-repeat="x in grapes" class="row">
     <div class="col-md-4" ><img src="assets/image/fruits/{{x.name}}.png" alt="bro"> </div>
 	<div class="col-md-5" >
 		<p class="ntrinfo"> 
Grapes are said to be the oldest cultivated fruit. They are juicy, sweet, or sour, and round or semi-oblong fruits that come in seven colors, depending on the variety that is grown. The most popular use of grapes, all over the world, is in making wines . They are actually 'berries' that have a semi-soild, translucent flesh inside them. They may or may not have any seeds. The botanical name of grapes is vitaceae. They are natives of Western Asia and Central Europe. These regions are known as the motherlands of grapes. From there, grapes have made a long journey to reach all across the globe.
</p> </div> 
      <div class="col-md-3" >
      	<div class="ntrsn">
    	 <h3>Nutrition value <span class="grms">per 100 g / procents</span> </h3>
      		<table class="table table-bordered ">
				  <tr>
				    <td>Energy</td>
				    <td>{{x.Energy}}</td> 
				    <td>{{x.EngPrcnt}}</td> 
				  </tr>
				  <tr>
				    <td>Carbohydrates</td>
				    <td>{{x.Carbohydrates}}</td>
					 <td>{{x.CrbHydrtPrcnt}}</td> 
				  </tr>
				  <tr>
				    <td>Protein</td>
				    <td>{{x.Protein}}</td>
				    <td>{{x.PrtPrcnt}}</td>  
				  </tr>
				  <tr>
				    <td>Total Fat</td>
				    <td>{{x.TotalFat}}</td>
				    <td>{{x.TtlFtPrcnt}}</td>  
				  </tr>
				  <tr>
				    <td>Cholesterol</td>
				    <td>{{x.Cholesterol}}</td>
				    <td>{{x.chlstrlPrcnt}}</td>  
				  </tr>
				  <tr>
				    <td>Dietary Fiber</td>
				    <td>{{x.DietaryFiber}}</td>
				    <td>{{x.dietryFbrPrcnt}}</td>  
				  </tr>
		</table>
		<div class="ntrttxt">
		<p> Vitamins up to <span class="vtm">37%</span>, most dominant are vitamin C <span class="vtm">18%</span> and K <span class="vtm">12%</span> </p>
		</div>
	</div>
</div>

</div>

	