<div ng-repeat="x in cabbage" class="row">
     <div class="col-md-3" > </div>
      <div class="col-md-6 hghlght"  >  <h1> {{x.name}} </h1> </div> 
      <div class="col-md-3" > </div>
</div>


<div ng-repeat="x in cabbage" class="row">
     <div class="col-md-4" ><img src="assets/image/vegetables/{{x.name}}.png" alt="bro"> </div>
 	<div class="col-md-5" >
 		<p class="ntrinfo"> 
Although cabbage has an extensive history, nonheading cabbages and kale were probably the first to be domesticated, before 1000 BC by the Celts of central and western Europe. Later on the Greeks and Romans claimed medicinal usages for their cabbage varieties that included relief from gout, headaches and the symptoms of poisonous mushroom ingestion. The antipathy towards the vine made it seem that eating cabbage would avoid drunkenness. Cabbage is probably form of Latin word caput-technical name for the head.
</p> </div> 
      <div class="col-md-3" >
      	<div class="ntrsn">
    	 <h3>Nutrition value <span class="grms">per 100 g / procents</span> </h3>
      		<table class="table table-bordered ">
				  <tr>
				    <td>Energy</td>
				    <td>{{x.Energy}}</td> 
				    <td>{{x.EngPrcnt}}</td> 
				  </tr>
				  <tr>
				    <td>Carbohydrates</td>
				    <td>{{x.Carbohydrates}}</td>
					 <td>{{x.CrbHydrtPrcnt}}</td> 
				  </tr>
				  <tr>
				    <td>Protein</td>
				    <td>{{x.Protein}}</td>
				    <td>{{x.PrtPrcnt}}</td>  
				  </tr>
				  <tr>
				    <td>Total Fat</td>
				    <td>{{x.TotalFat}}</td>
				    <td>{{x.TtlFtPrcnt}}</td>  
				  </tr>
				  <tr>
				    <td>Cholesterol</td>
				    <td>{{x.Cholesterol}}</td>
				    <td>{{x.chlstrlPrcnt}}</td>  
				  </tr>
				  <tr>
				    <td>Dietary Fiber</td>
				    <td>{{x.DietaryFiber}}</td>
				    <td>{{x.dietryFbrPrcnt}}</td>  
				  </tr>
		</table>
		<div class="ntrttxt">
		<p> Vitamins up to <span class="vtm">85%</span>, most dominant are vitamin C <span class="vtm">61%</span> and K <span class="vtm">18%</span> </p>
		</div>
	</div>
</div>

</div>
